.f-avatar {
  background-color: var(--surface);
  color: var(--text-dim);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
