.f-marquee {
  position: relative;
  width: 100%;
  overflow: hidden;

  // 水平滚动
  &--left,
  &--right {
    height: auto;
  }

  // 垂直滚动
  &--up,
  &--down {
    height: 100%;
    min-height: 20px;
  }

  &__content {
    display: inline-block;
    will-change: transform;
  }
}
